<!DOCTYPE html>
<html>
  <head>
    <title>WaspLmd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_packs_with_chunks_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
